/* Light Theme */
body.light_theme {
    background-color: #ffffff;
    color: #333333;
}

/* Dark Theme */
body.dark_theme {
    background-color: #333333;
    color: #ffffff;
}

/* High Contrast Theme */
body.high_contrast_theme {
    background-color: #000000;
    color: #ffffff;
}

/* Caramel Theme */
body.caramel_theme {
    background-color: #ac9125;
    color: #473018;
}